<div class="mt-4">
  <h3>My list courses</h3>
  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Level</th>
        <th scope="col">Created at</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.updatedAt}}</td>
          <td>
            <a href="/courses/edit/{{this._id}}" class="btn btn-link">Edit</a>
            <a href="#" class="btn btn-link">Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>